/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */

$craighead-green: #055356;

$body-overflow-y: auto;
$navbar-height: 5rem;

@font-face {
  font-family: 'Arial Nova Light';
  src: url('/ArialNova-Light.ttf') format('truetype');
}

$family-primary: 'Arial Nova Light', sans-serif;

$title-color: $craighead-green;

$navbar-item-active-color: $craighead-green;

$navbar-tab-active-color: $craighead-green;
$navbar-tab-active-border-bottom-color: $craighead-green;

$navbar-item-hover-color: $craighead-green;
$navbar-tab-hover-border-bottom-color: $craighead-green;

// $dropdown-item-hover-color: #fff;
$dropdown-item-hover-background-color: $craighead-green;

$menu-label-font-size: 1em;
$menu-label-color: $craighead-green;

$menu-item-active-background-color: $craighead-green;